body{
    font-size: 16px;
}
.heading {
    padding: 10px 0;
}
.naslov{
    padding: 10px 0;
    text-align: justify;
    text-justify: inter-word;
}
.naslov h1 {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.naslov h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.podaci{
    padding: 10px 0;

}
.odluka{
    padding: 10px 0;
}         
.potpisi{
    margin-top: 20px;
    font-size: 12px;
}